@font-face {
    font-family: custom_font;
    src: url(fonts/iran-sans-300.woff);
}

* {
    font-family: custom_font !important;
}

#react-entry-point {
    text-align: center !important;
    direction: rtl !important;
}

#results_table {
    width: 100% !important;
}

#question_input {
    display: block;
    width: 280px;
    margin: 2px auto;
    height: 45px;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 45px;
    background-color: #fff;
    border: none;
    border-left: 3px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 #D9DFE4;
    -moz-box-shadow: 0 1px 1px 0 #D9DFE4;
    box-shadow: 0 1px 1px 0 #D9DFE4;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    outline: 0;
}

#question_container {
    margin: 0 auto;
    padding: 30px 30px 45px;
    background-color: #F5F7F8;
}

.show_results {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    margin-top: 25px;
    margin-bottom: 15px;
}

.show_results:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.show_results:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.show_results:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.show_results:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.show_results:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.show_results:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.show_results:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.row {
    display: block !important;
}

#question_text {
    text-align: center;
    color: #007bff;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 10px;
}